*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    
}

body{
    background-color: aliceblue;
    height:4000px;
}
/* 橫幅 */
#banner{
    width: 100%;
    height:100vh;
    background-image: url(./img/banner2.jpg);
    background-size: cover;
    color:	white;
    background-attachment: fixed;
}

#banner nav, #banner-about nav, #banner-contact nav{
    padding:30px 50px;
}

#banner a, #banner-about a, #banner-contact a{
    color:white;
    text-decoration:none;
    font-size:24px;
    padding:0 30px;
}

#banner a:hover, #banner-about a:hover, #banner-contact a:hover {
    opacity: 0.5;
}

#banner p{
    text-align: center;
    font-size:20px;
    padding:50px;
    opacity: 0.8;

}

#banner h1{
    text-align: center;
    font-size:50px;
    padding:60px;
}

#banner hr{
    width:300px;
    opacity: 0.5;
    margin: 0 auto;

}

/* 最新消息 */
#news{
    height:100vh;
    width:1200px;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0 auto;
    padding:100px 0;
    grid-gap: 50px;
}

#news hr{
    font-size:50px;
    width:350px;
    margin:0 auto;
    opacity: 0.5;
}

#news h3{
    text-align: center;
    padding:10px;
}

#news h1{
    text-align: center;
    padding:20px;
    font-weight: 100px;
}

#news p{
    text-align:left;
    padding:20px;

}

#news #news-left{
    height:350px;
    background-image: url(./img/news-left.jpg);
}

#news #list{
    padding-left:35px;
}

#news #news-right{
    height:350px;
    background-image: url(./img/news-right.jpg);
}

a.button{
    text-decoration: none;
    color:	#5B5B5B;
    border: 1px solid #BEBEBE;
    padding:10px 5px;
}

/* 盒子區塊 */

#box {
    background-image: url(./img/box.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
}

#box h2{
    text-align: center;
    letter-spacing: 10px;
    padding-left:10px;
    color:white;
    height:300px;
    line-height:300px;

}


/* 關於我-分頁 */

#banner-about{
    width: 100%;
    height:40vh;
    background-image: url(./img/about.jpg);
    background-size: cover;
    background-position-y: center;
    color:	white;
    background-attachment: fixed;
}

#about-content{
    width:1200px;
    background-color: #fff;
    margin:0 auto;
    padding:50px 50px;
    border-radius: 10px;
    margin-top:100px;
}

#about-content h3{
    text-align: center;
    padding:10px 0;
    color:#4F4F4F;
    
}

#about-content h1{
    text-align: center;
    padding:10px 0;
    padding-bottom:50px;
}

#about-content hr{
    width:300px;
    margin:0 auto;
}

#banner-about nav{
    backdrop-filter: opacity(40%);
}

#banner-about h2{
    text-align: center;
    font-weight:100;
    font-size: 35pt;
    letter-spacing: 10px;
    padding-left: 20px;
    line-height: 20vh;
    backdrop-filter: opacity(40%);
    height:30vh;

}

#about-content #about-1 {
    background-image: url(./img/about-1.jpg);
    background-size:cover;
    background-position-y: center;
    height:400px;
}

#about-content #about-2 {
    background-image: url(./img/about-2.jpg);
    background-size:cover;
    background-position-y: center;
    height:400px;
}

#about-content #about-3 {
    background-image: url(./img/about-3.jpg);
    background-size:cover;
    background-position-y: center;
    height:400px;
}

#about-content p{
    padding:50px;
    line-height:2;
    color:#6C6C6C;
}



/* 連絡我-分頁 */

#banner-contact{
    width: 100%;
    height:40vh;
    background-image: url(./img/banner-contact.jpg);
    background-size: cover;
    background-position-y: center;
    color:	white;
    background-attachment: fixed;
}

#banner-contact h2{
    text-align: center;
    font-weight:100;
    font-size: 35pt;
    letter-spacing: 10px;
    padding-left: 20px;
    line-height: 20vh;
    backdrop-filter: opacity(40%);
    height:30vh;
    